OPENAI_API_KEY = <api key from openai>

SERPER_API_KEY = <serper api key>

WOLFRAM_ALPHA_APPID = <wolfram alpha app id>

DISCORD_TOKEN = <your discord bot token>
ALLOWED_SERVERS = <your discord server ids separated by commas>