OPENAI_API_KEY = <api key from openai>

DISCORD_TOKEN = <your discord bot token>
TELEGRAM_BOT_TOKEN=<telegram bot token, from 'Bot Father'>

ALLOWED_SERVERS = <your discord server ids separated by commas>
ALLOWED_CHANNELS = <your discord channel ids separated by commas, or `ALL` (without quotes) to allow bot in all channels >
